.btn {
    width: 279px;
    height: 80px;
    background: linear-gradient(180deg, #FFA53C 0%, #F37029 100%);
    border-radius: 4px;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    outline: none;
    border: none;
    position: relative;
    &:hover {
        background: #FFA53C;
    }
    &:focus {
        background: #F37029;
    }
    &--long {
        width: 376px;
    }
    &--modal {
        @include breakpoint($bp-500) {
            width: 100%!important;
        }
    }
    &--form {
        width: 100%!important;
    }
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0px;
        left: 0;
        background: linear-gradient(0deg, #D05817, #D05817), linear-gradient(180deg, #FFA53C 0%, #F37029 100%);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    @include breakpoint($bp-850) {
        width: 250px;
        font-size: 16px;
        line-height: 23px;
    }
    @include breakpoint($bp-800) {
        width: 230px;
        font-size: 15px;
        line-height: 21px;
    }
    @include breakpoint($bp-600) {
        font-size: 13px;
        line-height: 15px;
    }
    @include breakpoint($bp-400) {
        width: 230px;
    }
    a {
        text-decoration: none;
        color: $white;
    }
}