.form {
    background-color: #fff;
    max-width: 1239px;
    border: 10px solid #A8CDC1;
    padding: 35px 35px 25px;
    @include breakpoint($bp-1050) {
        padding: 35px 15px 25px;
    }
    @include breakpoint($bp-800) {
        max-width: 600px;
    }
    &-title {
        font-size: 25px;
        line-height: 37.5px;
        text-align: center;
        margin-bottom: 32px;
        font-style: italic;
        @include breakpoint($bp-1200) {
            font-size: 23px;
            line-height: 33px;
        }
        @include breakpoint($bp-1000) {
            font-size: 21px;
            line-height: 27px;
        }
        @include breakpoint($bp-800) {
            font-size: 19px;
            line-height: 23px;
        }
        @include breakpoint($bp-600) {
            font-size: 17px;
            line-height: 17px;
        }
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            border: 1px solid #5C8A7E;
            width: 271px;
            height: 80px;
            margin-right: 15px;
            padding-left: 16px;            
            font-size: 18px;
            line-height: 27px;
            &::placeholder {
                color: $gray;
            }
            @include breakpoint($bp-1140) {
                width: 240px;
            }
            @include breakpoint($bp-1000) {
                width: 210px;
            }
            @include breakpoint($bp-900) {
                width: 180px;
            }
            @include breakpoint($bp-800) {
                width: 230px;
                margin-bottom: 15px;
                margin-right: 0;
            }
            @include breakpoint($bp-450) {
                height: 60px;
                font-size: 16px;
            }
        }
        @include breakpoint($bp-800) {
            flex-direction: column;
        }
    }
    &-subtitle {
        margin-top: 19px;
        font-size: 14px;
        line-height: 21px;
        color: $gray;
        a {
            color: $green;
            text-decoration: none;
        }
        @include breakpoint($bp-1000) {
            font-size: 13px;
            line-height: 19px;
        }
        @include breakpoint($bp-800) {
            font-size: 11px;
            line-height: 15px;
        }
        @include breakpoint($bp-600) {
            font-size: 10px;
            line-height: 13px;
        }
    }
}
.form-profitability {
    margin: -170px auto 0;
    position: relative;
    z-index: 2;
}
.form__link {
    display: flex;
    flex-direction: column;
}
.fancybox-content {
    padding: 0!important;
}