.header {
    &__logo {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 642px;
        position: relative;
        &-text {
            max-width: 630px;
            margin-left: 450px;
            @include breakpoint($bp-1650) {
                margin-left: 570px;
            }
            @include breakpoint($bp-1539) {
                margin-left: auto
            }
            @include breakpoint($bp-1400) {
                max-width: 560px;
                padding: 0 15px;
            }
            @include breakpoint($bp-1300) {
                max-width: 490px;
                margin-right: 10px;
            }
            @include breakpoint($bp-1200) {
                margin: 0;
            }
            @include breakpoint($bp-800) {
                margin-left: auto;
                max-width: 380px;
            }
            @include breakpoint($bp-600) {
                max-width: 330px;
            }
            @include breakpoint($bp-500) {
                max-width: 290px;
            }
            @include breakpoint($bp-450) {
                max-width: 240px;
            }
            @include breakpoint($bp-400) {
                margin: 0;
            }
            @include breakpoint($bp-350) {
                margin: 50px 0 0;
            }
            .title {
                @include breakpoint($bp-450) {
                    max-width: 300px;
                }
                @include breakpoint($bp-350) {
                    max-width: 230px;
                }
            }
        }
        &::before {
            content: '';
            display: block;
            background: url('../images/model-1.jpg') no-repeat;
            background-size: 100%;
            width: 1106px;
            height: 1000px;
            position: absolute;
            top: -125px;
            left: 0px;
            z-index: -1;
            @include breakpoint($bp-1140) {
                background-size: cover;
                width: 100%;
            }
            @include breakpoint($bp-800) {
                height: 800px;
                top: -120px;
                left: -270px;               
            }
            @include breakpoint($bp-700) {
                height: 700px;
                top: -100px;
                left: -270px;               
            }
            @include breakpoint($bp-600) {
                height: 530px;
                top: -70px;
                left: -200px;               
            }
            @include breakpoint($bp-500) {
                height: 500px;
                top: -40px;
                left: -200px;               
            }
            @include breakpoint($bp-400) {
                height: 455px;
                top: 0px;
                left: 0px;               
            }
        }
        &::after {
            content: '';
            display: block;
            background: url('../images/sheet.jpg') no-repeat;
            background-size: 100%;
            width: 469px;
            height: 480px;
            position: absolute;
            bottom: -75px;
            right: 0;
            z-index: -1;
            @include breakpoint($bp-1650) {
                display: none;
            }
        }
        @include breakpoint($bp-1200) {
            justify-content: unset;
        }
        @include breakpoint($bp-800) {
            height: 500px;
        }
        @include breakpoint($bp-600) {
            height: 400px;
        }
    }
    &__p {
        font-size: 25px;
        line-height: 37,5px;
        margin-top: 35px;
        @include breakpoint($bp-1200) {
            font-size: 23px;
            line-height: 33px;
        }
        @include breakpoint($bp-1000) {
            font-size: 21px;
            line-height: 27px;
            max-width: 430px;
        }
        @include breakpoint($bp-800) {
            font-size: 19px;
            line-height: 23px;
            max-width: 500px;
        }
        @include breakpoint($bp-600) {
            font-size: 17px;
            line-height: 23px;
        }
        @include breakpoint($bp-400) {
            max-width: 300px;
        }
        @include breakpoint($bp-350) {
            max-width: 280px;
        }
    }
}
.green {
    background: $green;
    height: 100px;
}
.container-1920 {
    max-width: 1920px;
    margin: 0 auto;
}