#hours {
    padding: 100px 0 271px;
    position: relative;
    .title {
        max-width: 1142px;
        margin: 0 auto;
        @include breakpoint($bp-800) {
            text-align: center;
        }
        @include breakpoint($bp-850) {
            padding-bottom: 100px;
        }
    }
    &::after {
        background: url(../images/model-lp.png);
        display: block;
        content: '';
        position: absolute;
        top: 40%;
        right: 0;
        width: 949px;
        height: 605px;
        z-index: -1;
        @include breakpoint($bp-1400) {
            top: 28%;
            left: 0;
            margin-left: 200px;
        }
        @include breakpoint($bp-1200) {
            margin-left: 100px;
        }
        @include breakpoint($bp-1200) {
            margin-left: 0;
            background-repeat: no-repeat;
            background-size: 90%;
            width: 95%;
            height: 100%;
            left: 5%;
        }
        @include breakpoint($bp-1000) {
            top: 30%;
        }
        @include breakpoint($bp-850) {
            top: 40%;
        }
        @include breakpoint($bp-800) {
            top: 25%;
        }
        @include breakpoint($bp-750) {
            top: 30%;
        }
        @include breakpoint($bp-700) {
            top: 35%;
        }
        @include breakpoint($bp-600) {
            top: 33%;
        }
        @include breakpoint($bp-450) {
            top: 35%;
        }
        @include breakpoint($bp-400) {
            top: 30%;
        }
    }
    @include breakpoint($bp-1200) {
        padding: 100px 15px 0;
    }
    @include breakpoint($bp-800) {
        padding: 0px 15px 0;
    }
}
.hours__inner {
    max-width: 1144px;
    margin: 184px auto 0;
    position: relative;
    display: flex;
    &-text {
        max-width: 639px;
        .p {
            margin-bottom: 40px;
        }
        @include breakpoint($bp-1800) {
            max-width: 530px;
        }
        @include breakpoint($bp-1750) {
            max-width: 500px;
        }
        @include breakpoint($bp-1539) {
            max-width: 400px;
        }
        @include breakpoint($bp-1400) {
            max-width: 639px;
        }
    }
    @include breakpoint($bp-1400) {
        margin-top: 750px;
    }
    @include breakpoint($bp-1000) {
        margin-top: 550px;
    }
    @include breakpoint($bp-850) {
        margin-top: 500px;
    }
    @include breakpoint($bp-800) {
        margin-top: 430px;
    }
    @include breakpoint($bp-750) {
        margin-top: 400px;
    }
    @include breakpoint($bp-700) {
        margin-top: 360px;
    }
    @include breakpoint($bp-600) {
        margin-top: 300px;
    }
    @include breakpoint($bp-500) {
        margin-top: 230px;
    }
    @include breakpoint($bp-450) {
        margin-top: 180px;
    }
}