.thanks {
    background: url(../images/bg-9.png) no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.thanks-container {
    display: flex;
    align-items: center;
    max-width: 1144px;
    margin: 0 auto;
    text-align: center;
    height: 72vh;
}