<section class="footer-main" id="footer">

    <div class="footer-footer">
        <div class="footer-container">
            <div class="footer-footer__item">
                <div class="copyright">
                    © «Apelsin Beauty», 2021
                </div>
                <div class="politic">
                    <a href="#" target="_blank">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer-footer__item">
                <a href="#" target="_blank">Франчайзинг 5 - упаковка и продвижение франшиз</a>
            </div>
            <div class="footer-footer__item">
                <div class="tel"> <a href="tel:+78000000000">8 800 000-00-00</a></div>
               <div class="consultation">
                <a href="#" target="_blank">Бесплатная консультация</a>
               </div>
            </div>
        </div>
    </div>
    
</section>
