<header class="header">
    <div class="header__logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="header__main">
        <div class="header__main-text">
            <div class="title">
                <span class="orange">Откройте студию </span> эстетической косметологии
            </div>
            <div class="header__p">
                Станьте франчайзи сети Apelsin Beauty и получите возможность зарабатывать <span class="orange">от 600 000 до 1 000 000 рублей в год</span> на услугах красоты и реализации уходовых средств через интернет-магазин бренда
            </div>
        </div>
    </div>
</header>
